.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 400px;
}



.contact-text{
    margin-top: 6rem;
}

 .contact-text > h1{
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-weight: normal;
   line-height: 40px;
   
   
} 

.contact-text > p{
    text-align: justify;
    opacity: 0.7; 
    line-height: 30px;
    font-size: 15px;

}



.input_form{
    line-height: 40px;
    width: 650px; 
    margin-top: 50px;
}


#inputText_form{
    padding: 10px;
}
.input_text{
     width: 90%;  
    height: 30px;
    border: 1px solid lightgray;
}



#postmessage{
    padding: 2px;
    width: 30%;
    background-color: #4A47A3;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 2px;
}